header {
text-align : left
}
li.nav-item {
font-size : large;
font-weight : bold;
color : rgba(255,255,255,.5);
}

h1{
text-align : center;
}

a{
background-color : transparent;
font-size : large;
}


form{
text-align : center;
}

.alert
{
text-align : center ;
}

table{
text-align : center;
width : 100%;
}

body {
  background: #E0FFFF;
}

h1 {
text-decoration : underline;
color : blue
}

.navbar {
    background-color: gray;
}

.alert-danger{
    background: #E0FFFF;
    background-color: #E0FFFF;
    border-color: #E0FFFF;
    }